/* ==========================================
   Sprint 17
   Enterprise Login Styling
========================================== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.login-page{
  display:flex;
  min-height:100vh;
  font-family:Segoe UI, Arial, sans-serif;
}

.login-left{
  flex:1;
  background:linear-gradient(135deg,#0f172a,#1e3a8a);
  color:#ffffff;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:60px;
}

.branding{
  max-width:520px;
}

.branding h1{

  font-size:58px;

  font-weight:700;

  line-height:1.1;

  margin-bottom:20px;

}

.tagline{

  font-size:24px;

  margin-bottom:25px;

  color:#dbeafe;

}

.description{

  font-size:18px;

  line-height:1.8;

  color:#cbd5e1;

}

.login-right{

  flex:1;

  background:#f8fafc;

  display:flex;

  justify-content:center;

  align-items:center;

}

.login-card{

  width:420px;

  background:#ffffff;

  border-radius:18px;

  padding:45px;

  box-shadow:0 15px 45px rgba(0,0,0,.12);

}

.login-card h2{

  text-align:center;

  font-size:34px;

  margin-bottom:10px;

}

.subtitle{

  text-align:center;

  color:#64748b;

  margin-bottom:35px;

}

.login-card input{

  width:100%;

  padding:15px;

  margin-bottom:18px;

  border:1px solid #d1d5db;

  border-radius:10px;

  font-size:16px;

  outline:none;

}

.login-card input:focus{

  border-color:#2563eb;

}

.login-card button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:10px;

  background:#2563eb;

  color:white;

  font-size:17px;

  font-weight:600;

  cursor:pointer;

  transition:.3s;

}

.login-card button:hover{

  background:#1d4ed8;

}

.version{

  margin-top:25px;

  text-align:center;

  color:#94a3b8;

  font-size:14px;

}